In [1]:
import pandas as pd

In [4]:
df_all = pd.read_parquet('/Users/colin/Library/Mobile Documents/com~apple~CloudDocs/PycharmProjects/pythonProject/backups/user-add-pp')
df_all

,Name,Sex,Age,Online,Grade,Rank,Text,Call,Video,Game,Date
index,,,,,,,,,,,
139,小甜酒,True,18,False,20,140,True,True,True,True,2023-06-11 20:02:37.041846
89,香香,True,20,True,10,90,True,True,True,True,2023-06-11 20:26:37.273839
86,御绾,True,24,True,10,87,True,True,True,True,2023-06-11 20:30:09.528374
111,小鱼,True,19,True,10,112,True,True,True,False,2023-06-11 20:40:11.392775

In [3]:
df_all.dtypes

Name            category
Sex                 bool
Age                uint8
Online              bool
Grade              uint8
Rank              uint16
Text                bool
Call                bool
Video               bool
Game                bool
Date      datetime64[ns]
dtype: object