In [19]:
from io import StringIO
import pandas as pd
import datacompy

In [57]:

data1 = """acct_id,name
1,A
2,B
3,C
"""

data2 = """acct_id,name
1,A
2,B
3,C
"""
# data2 = data1

df1 = pd.read_csv(StringIO(data1))
df2 = pd.read_csv(StringIO(data2))

compare = datacompy.Compare(
        df1,
        df2,
        join_columns=['name'],  #You can also specify a list of columns
)
# compare.matches(ignore_extra_columns=False)
# False

# This method prints out a human-readable report summarizing and sampling differences

   acct_id name
0      1.0    A

In [58]:
compare.df1_unq_rows['Status'] = '-'
compare.df2_unq_rows['Status'] = '+'
pd.concat([compare.df1_unq_rows, compare.df2_unq_rows])

Empty DataFrame
Columns: [acct_id, name, Status]
Index: []

In [16]:
df = pd.read_parquet('User_Panel/2023-06-07', )

In [17]:
df.reset_index()

,index,Date,Name,Sex,Age,Online,Grade,Text,Call,Video,Game
0,1,2023-06-07 21:01:31.779232,糖恋客服-安鱼,女,19,True,40,False,False,False,False
1,2,2023-06-07 21:01:31.779232,客服阮-店员推荐,女,18,True,40,False,False,False,False
2,3,2023-06-07 21:01:31.779232,Ace.,女,20,True,40,False,False,False,False
3,4,2023-06-07 21:01:31.779232,恶毒前妻,女,23,True,40,False,False,False,False
4,5,2023-06-07 21:01:31.779232,上杉绘梨衣,女,20,True,40,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
7585,249,2023-06-07 23:56:52.174662,向阳,男,21,False,10,True,True,True,True
7586,250,2023-06-07 23:56:52.174662,朱砂.,女,26,False,10,True,True,True,True
7587,251,2023-06-07 23:56:52.174662,初语,女,24,False,10,False,True,False,False
7588,252,2023-06-07 23:56:52.174662,魔王,女,29,False,10,False,False,False,False
7589,253,2023-06-07 23:56:52.174662,子希,男,24,False,10,True,True,False,False

In [12]:
import os

os.path.isfile('/Users/colin/Library/Mobile Documents/com~apple~CloudDocs/PycharmProjects/pythonProject/backups/gift-bk')

True

In [15]:
import pandas as pd

df = pd.read_parquet('backups/user-bk')
df

,Date,Name,Sex,Age,Online,Grade,Text,Call,Video,Game
1,2023-06-08 04:17:14.939054,糖恋客服-安鱼,女,19,True,40,False,False,False,False
2,2023-06-08 04:17:14.939054,客服阮-店员推荐,女,18,True,40,False,False,False,False
3,2023-06-08 04:17:14.939054,怡,女,52,True,40,True,True,True,True
4,2023-06-08 04:17:14.939054,上杉绘梨衣,女,20,True,40,True,True,True,True
5,2023-06-08 04:17:14.939054,Ace.,女,20,True,40,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
249,2023-06-08 04:17:14.939054,朱砂.,女,26,False,10,True,True,True,True
250,2023-06-08 04:17:14.939054,初语,女,24,False,10,False,True,False,False
251,2023-06-08 04:17:14.939054,魔王,女,29,False,10,False,False,False,False
252,2023-06-08 04:17:14.939054,碎叫叫,女,23,False,10,True,False,False,False
253,2023-06-08 04:17:14.939054,子希,男,24,False,10,True,True,False,False

In [17]:
df.reset_index()

,index,Date,Name,Sex,Age,Online,Grade,Text,Call,Video,Game
0,1,2023-06-08 04:17:14.939054,糖恋客服-安鱼,女,19,True,40,False,False,False,False
1,2,2023-06-08 04:17:14.939054,客服阮-店员推荐,女,18,True,40,False,False,False,False
2,3,2023-06-08 04:17:14.939054,怡,女,52,True,40,True,True,True,True
3,4,2023-06-08 04:17:14.939054,上杉绘梨衣,女,20,True,40,True,True,True,True
4,5,2023-06-08 04:17:14.939054,Ace.,女,20,True,40,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
248,249,2023-06-08 04:17:14.939054,朱砂.,女,26,False,10,True,True,True,True
249,250,2023-06-08 04:17:14.939054,初语,女,24,False,10,False,True,False,False
250,251,2023-06-08 04:17:14.939054,魔王,女,29,False,10,False,False,False,False
251,252,2023-06-08 04:17:14.939054,碎叫叫,女,23,False,10,True,False,False,False
252,253,2023-06-08 04:17:14.939054,子希,男,24,False,10,True,True,False,False